<!-- <h1>>***************Signup Form:>***************</h1>
<app-signup-form></app-signup-form>
<br/><br/><br/><br/><br/><br/>
<h1>>***************Adding new Topics with FormArray:>***************</h1>
<app-new-courses-form></app-new-courses-form>
<br/><br/><br/><br/><br/><br/>
<h1>>***************Template Form:>***************</h1>
<app-contact-form></app-contact-form>
<br/><br/><br/><br/><br/><br/>
<h1>***************CONSUMING HTTP SERVIECS***************</h1>
<app-posts></app-posts>
<br/><br/><br/><br/><br/><br/>
<h1>***************Github Followers>***************</h1>
<app-github-followers></app-github-followers> -->

<app-nav-bar></app-nav-bar>
<router-outlet></router-outlet>