<div class="container">
  <h2>Angular Basics</h2>
  <br>
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" data-toggle="tab" routerLink="/home" [queryParams]="{page:1,order:'nav'}">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" data-toggle="tab" routerLink="/TemplateForm">Template Form</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" data-toggle="tab" routerLink="/FormArray">FormArray Example</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" data-toggle="tab" routerLink="/ReactiveForm">Reactive Form</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" data-toggle="tab" routerLink="/HttpExample">Consuming HTTP Services</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" data-toggle="tab" routerLink="/GithubFollowers">Github Followers</a>
    </li>
  </ul>
</div>